#--------OAuth2.0 Client Configuration---------
scope=
grant_type=password
username=cf
password= 
access_token=
authentication_server_url=https://login.stage0.ng.bluemix.net:443/UAALoginServerWAR/oauth/token
#resource_server_url=http://jeffhoy1.rtp.raleigh.ibm.com:9080/snoop
#------------------------------------------------



















